<%page args='const' />
<%inherit file='base.html' />
<%block name='title'>Error Page - tiroFinale</%block>

<style>
    body {
        background-color: #fee;
    }
</style>

<div class="page-header">
    <h1>${reason|h}</h1>
</div>

${self.draw_status(level,direct)}

<p>tiroFinale proxy encountered an unexpected condition which prevented it from fulfilling the request.</p>
<p>You can use <a href="http://127.0.0.1:${const.PORTAL_PORT}/">tiroFinale Web Portal</a> to adjust settings.</p>
<p>The traceback below might be useful for troubleshooting.</p>

<pre><code>${traceback|h}</code></pre>