<%page args='const' />
<%inherit file='base.html' />
<%block name='title'>tiroFinale</%block>

<style>
    input[type=url] {
        font-family: Consolas, monospace;
    }
    .prpr {
        position: fixed;
        pointer-events: none;
        bottom: -60%; right: 0;
        transition: bottom .25s ease .15s;
        height: 60%;
    }
    button:hover .prpr {
        bottom: 0 !important;
    }
    .btn-rikka-stat {
        padding-left: 5px;
        padding-right: 5px;
    }
    .no-split-line {
        border-left: 0;
    }
</style>

<div class="page-header">
    <h1>tiroFinale proxy is running on port <code>${const.PROXY_PORT}</code>.</h1>
</div>

${self.draw_status(4,direct=const.PROXY_MODE==0)}

<p>
    Finale URL: <code>${const.FINALE_URL|h}</code>
    <button type="button" onclick="$('#configer').fadeToggle(200)" class="btn btn-link pull-right">
        <span class="glyphicon glyphicon-pencil"></span> Edit
    </button>
</p>
<div class="well well-sm" id="configer" style="display: none"><div class="row">
    <form action="/finale_change" method="post">
        <div class="col-sm-5"><div class="input-group">
            <span class="input-group-addon">Finale</span>
            <input type="url" name="finale" required class="form-control" placeholder="Finale URL" value="${const.FINALE_URL|h}">
        </div></div>
        <div class="col-sm-3"><div class="input-group">
            <span class="input-group-addon">Password</span>
            <input type="password" name="password" class="form-control" placeholder="Finale Password" value="${const.PASSWORD|h}">
        </div></div>
        <div class="col-sm-4"><div class="input-group">
            <span class="input-group-addon">Timeout</span>
            <input type="number" required min="1" max="90" step="1" name="timeout" class="form-control" placeholder="(in second)" value="${const.TIMEOUT|h}">
            <span class="input-group-btn"><button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span>
                <span class="hidden-sm">&nbsp;Save</span>
            </button></span>
        </div></div>
    </form>
</div></div>

<form action="/proxy_mode_change" method="post">
    <span class="p">Proxy mode: </span>
    <div class="btn-group">
        <button type="submit" name="mode" value="0" class="btn btn-default ${'active' if const.PROXY_MODE==0 else ''}">Direct</button>
        <button type="submit" name="mode" value="1" class="btn btn-default ${'active' if const.PROXY_MODE==1 else ''}">
            Rikka
            <img class="prpr" src="/static/prpr/rikka.png">
        </button>
        <button type="button" class="btn btn-default btn-rikka-stat" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="/clear_filtered">
                <span class="glyphicon glyphicon-trash"></span> Clear Jaô Shingan™ Cache
            </a></li>
            <li class="dropdown-header">filtered: ${len(filtered)} domains</li>
            <li class="divider"></li>
            % for domain in filtered:
                <li><a>${domain|h}</a></li>
            % endfor
        </ul>
        <button type="submit" name="mode" value="2" class="btn btn-default ${'active' if const.PROXY_MODE==2 else ''} no-split-line">
            Finale
            <img class="prpr" src="/static/prpr/mami.png">
        </button>
    </div>
</form>